<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">">
      <link rel="stylesheet" type="text/css" href="./style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <h1>hello! Please tell us a little bit about yourself</h1>
    <div class="container">
             <div class="contact-box">
                 <div class="left"></div>
                 <div class="right">
               <!--//form-->
               
               <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputfirstname">Firstname</label>
                    <input type="text" class="form-control" id="inputfirstname" placeholder="your Firstname">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputlastname">Lastname</label>
                    <input type="text" class="form-control" id="inputlastname" placeholder="your lastname">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputphone">Phone</label>
                      <input type="text" class="form-control" id="inputphone" placeholder=" your Phone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputsexe">gender</label>
                        <select id="inputsexe" class="form-control">
                          <option selected>female</option>
                          <option>male</option>
                          <option><input type="text" id="optionalgender" placeholder="specify your gender" ></option>
                        </select>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputcity">City</label>
                      <input type="city" class="form-control" id="inputcity" placeholder="your city">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputaddress"><Address></Address></label>
                      <input type="text" class="form-control" id="inputaddress" placeholder="your full  adress">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail">Email</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword">Password</label>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
               
                  
                    
                  
                
                <button type="submit" class="btn btn-primary">Save and exit</button>
              </form>
              <input type="button" value="connect to mysql" id="btn" />

                 </div>
             </div>
    </div>
    
    


</body>
<script>
    document.getElementById("btn").addEventListener("click",()=>{
              var mysql =require("mysql");
              var connection = mysql.createConnection({
                  host:"localhost",
                  user:"root",
                  password:null,
                  database:"ism"
              });
              connection.connect((err)=>{
                  if(err){
                      return console.log(err.stack);
                  }
                  console.log("connection succesfully established");
              });
              // here the queries will be executed 
                $queryString='SELECT * FROM `donneeperso` WHERE nom="oufkir"; ';
                connection.query($queryString,(err,rows,fields)=>{
                    if(err){
                        return console.log("error occured  ", err);
                    }
                    console.log(rows);
                });



              connection.end(()=>{
                   console.log("connection successfully closed");
              });
  },false);
</script>
</html>